#grilla {
	display: grid;
	grid-template-areas: 
	"cabeza cabeza"
	"foto biografia "
	"formacion premios"
   	"redes redes"
	"pie pie";
	grid-column-gap:30px;
	grid-row-gap: 20px;
}
header{
	grid-area: cabeza;
}
div#menu{
	grid-area: menu;
}
img#fotoBio{
	grid-area: foto;
}
p#bioTexto{
	grid-area: biografia;
}
section#formacion{
	grid-area: formacion;
}
section#premios{
	grid-area:premios;
}
div,#redes{
	grid-area:redes;
}
footer{
	grid-area: pie;
}

